[package]
name = "dash-mpd-cli"
version = "0.2.4"
authors = ["Eric Marsden <eric.marsden@risk-engineering.org>"]
license = "MIT"
description = "Download content from a DASH-MPEG or DASH-WebM MPD manifest"
readme = "README.md"
repository = "https://github.com/emarsden/dash-mpd-cli"
keywords = ["video", "streaming", "DASH", "MPEG", "download"]
categories = ["command-line-utilities", "multimedia", "multimedia::video"]
edition = "2021"
publish = true


[dependencies]
tokio = { version = "1.31.0", features = ["rt-multi-thread", "macros"] }
dash-mpd = { version = "0.13.1", default-features = false, features = ["fetch", "compression", "rustls-tls", "scte35"] }
reqwest = { version = "0.11.20", default-features = false, features = ["gzip", "rustls-tls", "socks", "json"] }
strum = { version = "0.24.1", features = ["derive"] }
colored = "2.0.4"
indicatif = "0.17.6"
clap = { version = "4.3.24", features = ["cargo", "unicode"] }
serde_json = "1.0.105"
versions = "5.0.1"
fs-err = "2.9.0"
number_prefix = "0.4.0"
anyhow = "1.0.75"
log = "0.4.20"
env_logger = "0.10.0"
bench_scraper = { version = "0.4.1", features = ["reqwest"], optional = true }

[dev-dependencies]
rustls = "0.21.6"
rustls-pemfile = "1.0.3"
tokio = { version = "1.32.0", features = ["rt-multi-thread", "time", "macros"] }
axum = "0.6.20"
axum-server = { version = "0.5.1", features = ["tls-rustls"] }
quick-xml = { version = "0.30.0", features = ["serialize"] }

[features]
default = ["cookies"]
cookies = ["bench_scraper"]


[profile.release]
opt-level = "z"  # optimize for size
lto = "fat"
codegen-units = 1
