# Run cargo tests in a FreeBSD VM.
#
# We need to build without default features (in particular without the "cookies" feature), because
# the decrypt-cookies crate doesn't compile on FreeBSD.
#
# See https://github.com/cross-platform-actions/action

on: workflow_dispatch

name: freebsd

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Run tests in FreeBSD VM
      uses: cross-platform-actions/action@v0.32.0
      with:
          memory: 2G
          operating_system: freebsd
          version: "15.0"
          shell: bash
          run: |
            uname -a
            sudo pkg install -y --quiet curl
            curl https://sh.rustup.rs -sSf --output rustup.sh
            bash rustup.sh -y --profile minimal --default-toolchain stable
            export PATH=${HOME}/.cargo/bin:$PATH
            echo "~~~~ rustc --version ~~~~"
            rustc --version
            sudo pkg install -y --quiet devel/cmake
            sudo pkg install -y --quiet devel/protobuf
            sudo pkg install -y --quiet Bento4
            mp4decrypt || true
            # we are depending here on FreeBSD's Linux binary compatibility layer
            curl https://github.com/shaka-project/shaka-packager/releases/latest/download/packager-linux-x64 --output /tmp/shaka-packager
            sudo mv /tmp/shaka-packager /usr/local/bin
            sudo chmod +x /usr/local/bin/shaka-packager
            export PATH=${PATH}:/usr/local/bin
            shaka-packager --version
            sudo pkg install -y --quiet ffmpeg
            ls -l
            # git checkout --depth 1 https://github.com/emarsden/dash-mpd-cli
            # cd dash-mpd-cli
            cargo build --jobs 1 --no-default-features --verbose
            cargo test --jobs 1 --no-default-features --verbose
