# Run cargo tests in a FreeBSD VM. This needs to run on one of the GitHub macos runners, because
# they are currently the only ones to support virtualization.
#
# We need to build without default features (in particular without the "cookies" feature), because
# the bench_scraper crate doesn't compile on FreeBSD.
#
# See https://github.com/vmactions/freebsd-vm

on: [push]

name: freebsd

jobs:
  test:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
    - name: Run tests in FreeBSD VM
      uses: vmactions/freebsd-vm@v0
      with:
        usesh: true
        sync: rsync
        copyback: false
        mem: 2048
        prepare: |
          pkg install -y curl
          curl https://sh.rustup.rs -sSf --output rustup.sh
          sh rustup.sh -y --profile minimal --default-toolchain stable
          export PATH="${HOME}/.cargo/bin:$PATH"
          echo "~~~~ rustc --version ~~~~"
          rustc --version
          pkg install -y Bento4
          mp4decrypt || true

        run: |
          export PATH="${HOME}/.cargo/bin:$PATH"
          ls -la
          cargo build --no-default-features --verbose
          cargo test --no-default-features --verbose
